.row {
  min-height: 600px;
}

.bug-btn {
  background-color: #F5F5F5;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right:10px;
  color: black;
}

.bug-column {
  min-height: inherit;
  background-color: #F5F5F5;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right:10px;
}

.list-group {
  margin-top: 20px;
  margin-bottom: 50px;
}

li {
  margin-top: 20px;
  border-radius: 4px;
}

a {
  cursor: pointer;
}
